* { margin: 0; padding: 0; }

body {
  font-size: 14pt;
  text-align: center;
  font-family: 'Della Respira', Times, serif;
}

div.container {
  padding: 2em;
  width: calc(1024px - 4em);
  margin: 0 auto;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h1, h2, h3 { padding: 1em 0; }

h1 small, h2 small, h3 small { margin-top: 0.2em; display: block; font-size: 0.6em; }
p { margin-bottom: 0.3em; }

a { color: #000; font-weight: bold; }
a:hover { text-decoration: none; }

header {
  min-width: calc(1024px);
  padding: 2em;
  padding-top: 8vh;
  padding-bottom: 8vh;
  padding-bottom: 3em;
  background: #000;
  color: #fff;
}
header h1 { padding: 0.5em 0; }
header img {
  border-radius: 100%;
  width: 8em;
  /* border: 2px solid #fff; */
  box-shadow: 0 0 2px 2px #fff;
}

ul {
  margin-left: 1em;
  list-style: none;
}

.projects > div { display: flex; text-align: left; margin-bottom: 3em; }
.projects > div:nth-child(even) { flex-direction: row-reverse;}
.projects > div p { margin: 1em; }
.projects a img { width: 40vw; border-radius: 1.5em; }

section {
  border-bottom: 2px solid rgba(29, 29, 29, 1);
  margin-bottom: 2em;
  padding-bottom: 3em;
}

footer {
  border-top: 2px solid rgba(29, 29, 29, 1);
  padding: 3em;
  margin-top: 3em;
}

@media only screen and (max-width: 768px) {
  .projects > div { flex-direction: column !important; }
  .projects a img {
    width: 100% !important;
  }
}