* { margin: 0; padding: 0; }

body {
  font-size: 14pt;
  text-align: center;
  font-family: 'Della Respira', Times, serif;

  /* background: #fff;
  background: radial-gradient(circle, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 50%); */
}

.container {
  padding: 2em;
  max-width: calc(1024px - 4em);
  margin: 0 auto;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h1, h2, h3 { padding: 1em 0; }

h1 small, h2 small, h3 small { margin-top: 0.2em; display: block; font-size: 0.6em; }
p { margin-bottom: 0.3em; }

a { color: inherit; font-weight: bold; }
a:hover { text-decoration: none; }

header {
  padding: 2em;
  padding-top: 8vh;
  padding-bottom: 8vh;
  padding-bottom: 3em;
  background: #000;
  background: linear-gradient(180deg, rgba(40,40,40,1) 0%, rgba(0,0,0,1) 60%);
  color: #fff;
  position: relative;
  overflow: hidden;
}
header h1 { padding: 0.5em 0; }
header img {
  border-radius: 100%;
  width: 8em;
  /* border: 2px solid #fff; */
  box-shadow: 0 0 2px 1px #fff;
}
header div.social {
  position: absolute;
  top: 14vh;
  left: 8em;
  right: 0;
}
header a.social { border: 1px solid transparent; display: inline-block; width: 1em; height: 1em; margin: 0.2em; padding: 0.5em; border-radius: 100%; vertical-align: middle; }
header a.social:hover { background: #fff !important; }

header a.social.twitter { background: #1DA1F2; }
header a.social.twitter:hover { border-color: #1DA1F2; }
header a.social.twitter:hover svg { color: #1DA1F2; }

header a.social.github { background: #181717; }
header a.social.github:hover { border-color: #181717; }
header a.social.github:hover svg { color: #181717; }

header a.social.medium { background: #12100E; }
header a.social.medium:hover { border-color: #12100E; }
header a.social.medium:hover svg { color: #12100E; }

header a.social svg {
  position: relative;
  top: -0.1em;
  width: 90%;
  color: #fff;
}
.header-shape-divider-bottom { position: absolute; bottom: 0; left: 0; width: 100%; overflow: hidden; line-height: 0; transform: rotate(180deg); }
.header-shape-divider-bottom svg { position: relative; display: block; width: calc(227% + 1.3px); height: 70px; transform: rotateY(180deg); }
.header-shape-divider-bottom .shape-fill { fill: #FFFFFF; }

ul {
  margin-left: 1em;
  list-style: none;
}

.projects > div { display: flex; text-align: left; margin-bottom: 3em; }
.projects > div:nth-child(even) { flex-direction: row-reverse;}
.projects > div p { margin: 1em; }
.projects a img { width: 40vw; border-radius: 1.5em; }

section {
  border-bottom: 2px solid rgba(29, 29, 29, 1);
  margin-bottom: 2em;
  padding-bottom: 3em;
}

footer {
  position: relative;
  padding: 5em 3em 3em 3em;
  margin-top: 3em;
  background: #000;
  color: #fff;
  overflow: hidden;
}

.footer-shape-divider-top { position: absolute; top: 0; left: 0; width: 100%; overflow: hidden; line-height: 0; }
.footer-shape-divider-top svg { position: relative; display: block; width: calc(227% + 1.3px); height: 40px; transform: rotateY(180deg); }
.footer-shape-divider-top .shape-fill { fill: #fff; }

@media only screen and (max-width: 768px) {
  .projects > div { flex-direction: column !important; }
  .projects a img {
    width: 100% !important;
  }
}